# Object files
*.o

# Intermediate Files
lex.yy.c
whitelex.yy.c
absyn.h.gch
yacc.tab.h
yacc.tab.c
yacc.output
test_output.txt
knode.c
test-*.c
*.dSYM

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
klc
klp

# Testing files
test_output.txt
testall.log
tests/*.out
tests/*.log
tests/*.c

# text editor files
*.swp

# OS X's dumb file things
.DS_Store

# test shell script
run.sh
