# Object files
*.o

# Intermediate Files
lex.yy.c
whitelex.yy.c
absyn.h.gch
yacc.tab.h
yacc.tab.c

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
klc
klp

# text editor files
*.swp

# OS X's dumb file things
.DS_Store
